@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@font-face {
  font-family: "MyFont";
  src: url("../../public/fonts/poppins.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "MyFont", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

@keyframes shooting {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) translateY(1000px);
    opacity: 0;
  }
}

.shooting-stars {
  position: relative;
}

.shooting-stars::before,
.shooting-stars::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;

  box-shadow:
    300px 50px white,
    600px 100px white,
    900px 0 white,
    1200px 150px white,
    1500px 200px white;

  filter: drop-shadow(0 0 1000px white) drop-shadow(0 0 1000px white);

  animation: shooting 2s linear infinite;
}

.shooting-star::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1.0),
    rgba(255, 255, 255, 0)
  );
  transform: rotate(45deg);
  top: 0;
  left: -100px;
}

.shooting-stars::after {
  animation-delay: 1s;
}


